{% extends 'layouts/base.html' %}
{% load static i18n custom_tags %}

{% block extracss %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'plugins/datepicker/date-picker.css' %}" />
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-7">
        <div class="card">
            <div id="carouselControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    {% for image in attachments %}
                    <div class="carousel-item{% if forloop.first %} active{% endif %}">
                        <img class="d-block w-100" src="{{ image.attachment.uri|imgAWSS3Filter }}" alt="{{ image.name }}">

                        <div class="card-img-overlay d-flex flex-column">
                            <div class="mt-auto">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="card rounded-3" style="background-color: wheat; opacity: 75% !important;">
                                            <div class="card-body">
                                                <h5 class="card-title">{{ object.name }}</h5>
                                                <p class="card-text">{{ object.parent.parent.parent.parent.name|title }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <div class="carousel-item active">
                        <img class="card-img d-block w-100 rounded" src="{% static 'images/village-image.jpg' %}" alt="Card image">

                        <div class="card-img-overlay d-flex flex-column">
                            <div class="mt-auto">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="card rounded-3" style="background-color: wheat; opacity: 75% !important;">
                                            <div class="card-body">
                                                <h5 class="card-title">{{ object.name }}</h5>
                                                <p class="card-text">{{ object.parent.parent.parent.parent.name|title }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">{% translate 'Previous' %}</span>
                </a>
                <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">{% translate 'Next' %}</span>
                </a>
            </div>
        </div>
    </div>

    <div class="col-5">

        <div class="card">
            <div class="card-body">
                <div class="clearfix">
                    <div class="float-left">
                        <h5 class="font-weight-bold">{% translate 'Population' %}</h5>
                    </div>
                </div>
                <div class="card bg-light">
                    <div class="card-body">
                        <div class="align-content-center">
                            <table class="table">
                                <tr>
                                    <td class="text-right">{% translate 'Total' %}</td><td class="text-left">{{ total }}</td>
                                </tr>
                                <tr>
                                    <td class="text-right"># {% translate 'Manages' %}</td><td class="text-left">{{ manages }}</td>
                                </tr>
                                <tr>
                                    <td class="text-right">{% translate 'Men' %} / {% translate 'Women' %}</td><td class="text-left">{{ men_women }}</td>
                                </tr>
                                <tr>
                                    <td class="text-right">{% translate 'Youth' %}</td><td class="text-left">{{ youth }}</td>
                                </tr>
                                <tr>
                                    <td class="text-right">{% translate 'Elderly people' %}</td><td class="text-left">{{ elderly_people }}</td>
                                </tr>
                                <tr>
                                    <td class="text-right">{% translate 'Handicapped' %}</td><td class="text-left">{{ handicapped }}</td>
                                </tr>
                                <tr>
                                    <td class="text-right">{% translate 'Farmers' %} / {% translate 'Breeders' %}</td><td class="text-left">{{ farmers_breeders }}</td>
                                </tr>
                                <tr>
                                    <td class="text-right">{% translate 'Ethnic minorities' %}</td><td class="text-left">{{ ethnic_minorities }}</td>
                                </tr>
                                <tr>
                                    <td class="text-right">{% translate 'Languages' %}</td><td class="text-left">{{ languages }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="clearfix">
                    <div>
                        <h5 class="font-weight-bold">{% translate 'Planning status' %}</h5>
                    </div>
                </div>
                <div class="card bg-light">
                    <div class="card-body">
                        <div class="align-content-center">
                            <table class="table">
                                <tr>
                                    <td class="text-right">{% translate 'Phase' %}</td><td class="text-left">{{ phase }}</td>
                                </tr>
                                <tr>
                                    <td class="text-right">{% translate 'Activity' %}</td><td class="text-left">{{ activity }}</td>
                                </tr>
                                <tr>
                                    <td class="text-right">{% translate 'Task' %}</td><td class="text-left">{{ task }}</td>
                                </tr>
                                <tr>
                                    <td class="text-right">% {% translate 'Completed' %}</td><td class="text-left">{{ completed }}</td>
                                </tr>
                                <tr>
                                    <td class="text-right">{% translate 'Priorities identified' %}</td><td class="text-left">{{ priorities_identified }}</td>
                                </tr>
                                <tr>
                                    <td class="text-right">VDP {% translate 'Submission' %}</td><td class="text-left">{{ submission }}</td>
                                </tr>
                                <tr>
                                    <td class="text-right">{% translate 'Facilitator' %}</td><td class="text-left">{{ facilitator }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" id="project-cycle-tab" data-toggle="tab" href="#project-cycle" role="tab" aria-controls="project-cycle" aria-selected="false">Project Cycle</a>
                  </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">...</div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
                    <div class="tab-pane fade show active" id="project-cycle" role="tabpanel" aria-labelledby="project-cycle-tab">
                        <div class="row" style="margin-top: 15px;">
                            <div class="col-3">
                                <h5 class="font-weight-bold">{% translate 'Phase' %}</h5>

                                <div class="nav flex-column nav-pills" id="v-pills-phases-tab" role="tablist" aria-orientation="vertical">
                                    {% for phase in phases %}
                                    <a class="nav-link phase-tab" id="v-pills-{{ phase.id }}-tab" data-toggle="pill" href="#v-pills-{{ phase.id }}" role="tab" aria-controls="v-pills-{{ phase.id }}" aria-selected="true">{{ phase.name }}</a>
                                    {% endfor %}
                                </div>

                            </div>
                            <div class="col-3">
                                <h5 class="font-weight-bold">{% translate 'Activity' %}</h5>

                                <div class="tab-content" id="v-pills-activities-tabContent">
                                {% for phase in phases %}
                                    <div class="tab-pane fade" id="v-pills-{{ phase.id }}" role="tabpanel" aria-labelledby="v-pills-{{ phase.id }}-tab">
                                        <div class="nav flex-column nav-pills" id="v-pills-{{ phase.id }}-activities-tab" role="tablist" aria-orientation="vertical">
                                            {% for activity in phase.activities %}
                                            <a class="nav-link" id="v-pills-{{ activity.id }}-tab" data-toggle="pill" href="#v-pills-{{ activity.id }}" role="tab" aria-controls="v-pills-{{ activity.id }}" aria-selected="true">{{ activity.name }}</a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endfor %}
                                </div>

                            </div>
                            <div class="col-6">
                                <h5 class="font-weight-bold">{% translate 'Tasks' %}</h5>

                                <div class="tab-content" id="v-pills-tasks-tabContent">
                                {% for phase in phases %}
                                    {% for activity in phase.activities %}
                                            <div class="tab-pane fade" id="v-pills-{{ activity.id }}" role="tabpanel" aria-labelledby="v-pills-{{ activity.id }}-tab">

                                                {% for task in activity.tasks %}
                                                    {{ task.name }} - {{ task.status }}<br>
                                                {% endfor %}

                                            </div>
                                    {% endfor %}
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                <div class="clearfix">
                    <div class="float-left">
                        <h5 class="font-weight-bold">{% translate 'Financial' %}</h5>
                    </div>
                    {% if user.is_superuser or user|has_group:"Admin" %}
                    <div class="float-right">
                        <a href="#" class="font-weight-bold">{% translate 'Add Movement' %}
                        <i class="fas fa-plus"></i></a>
                    </div>
                    {% endif %}
                </div>
                <div class="card bg-light" style="height: 30px;">
                    <div class="card-body">
                        <h5 class="font-weight-bold">
                            <div class="clearfix">
                                <div class="float-left">
                                    <h5 class="font-weight-bold">{% translate 'Remaining' %} </h5>
                                </div>
                                <div class="float-right"><a href="#" class="font-weight-bold text-primary">6000 USD</a>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="clearfix">
                    <div class="float-left">
                        <h6 class="font-weight-bold text-danger">- 550 USD</h6>
                    </div>
                    <div class="float-right">
                        <span href="#">{% translate 'Lorem ipsum' %} </span>
                    </div>
                </div>
                <hr>
                <div class="clearfix">
                    <div class="float-left">
                        <h6 class="font-weight-bold text-danger">- 550 USD</h6>
                    </div>
                    <div class="float-right">
                        <span href="#">{% translate 'Lorem ipsum' %} </span>
                    </div>
                </div>
                <hr>
                <div class="clearfix">
                    <div class="float-left">
                        <h6 class="font-weight-bold text-danger">- 550 USD</h6>
                    </div>
                    <div class="float-right">
                        <span href="#">{% translate 'Lorem ipsum' %} </span>
                    </div>
                </div>
                <hr>
                <div class="clearfix">
                    <div class="float-left">
                        <h6 class="font-weight-bold text-danger">- 550 USD</h6>
                    </div>
                    <div class="float-right">
                        <span href="#">{% translate 'Lorem ipsum' %} </span>
                    </div>
                </div>
            </div>
            <div class="card-footer d-flex justify-content-center">
                <h6><a href="#" class="font-weight-bold text-primary">{% translate 'View All Movements' %}</a></h6>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <div class="clearfix">
                    <div class="float-left">
                        <h5 class="font-weight-bold">{% translate 'Activities' %}</h5>
                    </div>
                    <div class="float-right">
                        <div class="">
                            <!-- <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked> -->
                            <label class="form-check-label font-weight-bold" for="flexSwitchCheckChecked">{% translate 'Calendar' %}</label>
                        </div>
                    </div>
                </div>

                <!-- white_card card_height_100 mb_30 
                date_picker_wrapper 
            default-datepicker-->
                <div class="">
                    <div class="">
                        <div class="">
                            <div class="datepicker-here" data-language='en'></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <div class="clearfix">
                    <div>
                        {% if object.geographical_unit or object.cvd %}
                        <div>
                            {% if object.cvd %}
                            <h6 class="font-weight-bold" style="font-size: 12px;">CVD : {{ object.cvd.attributed_number_in_canton }} - {{ object.cvd.get_name }}</h6>
                            {% endif %}
                            {% if object.geographical_unit %}
                            <h6 class="font-weight-bold" style="font-size: 12px;">Unit : {{ object.geographical_unit.attributed_number_in_canton }} - {{ object.geographical_unit.get_name }}</h6>
                            {% endif %}
                        </div>
                        <hr />
                        {% endif %}
                        <h5 class="font-weight-bold">{% translate 'Subprojects' %} 
                            {% if user.is_superuser or user|has_group:"Admin" %}
                            &nbsp; &nbsp;  <a href="{% url 'subprojects:create' %}" class="font-weight-bold"> <i
                                class="fas fa-plus"></i></a>
                            {% endif %}

                            {% if object.get_list_subprojects %}
                                &nbsp; &nbsp;  <span>
                                    {% with object.get_list_subprojects as subprojects %}
                                        {% include "components/subprojects_modal.html" %}
                                    {% endwith %}
                                </span>
                            {% endif %}
                        </h5>
                    </div>
                </div>

                {% if object.get_list_subprojects %}
                    {% for subproject in object.get_list_subprojects %}
                    <div class="card" style="height: 50px;">
                        <div class="card-body">
                            <div class="clearfix">
                                <div class="float-left">
                                    <p class=""><i class="fas fa-cog"></i> 
                                        {% if subproject.full_title_of_approved_subproject|length > 30 %}
                                            {{ subproject.full_title_of_approved_subproject|slice:":30" }}...
                                        {% else %}
                                            {{ subproject.full_title_of_approved_subproject }}
                                        {% endif %}
                                    </p>
                                </div>
                                <div class="float-right">
                                    <a href="#" class="font-weight-bold">{% translate 'View' %}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    <div class="card-body">
                        <div class="font-weight-bold d-flex justify-content-center text-danger" >
                            <p>{% translate 'Empty!' %}</p>
                        </div>
                    </div>
                {% endif %}
                {% comment %} <div class="card" style="height: 50px;">
                    <div class="card-body">
                        <div class="clearfix">
                            <div class="float-left">
                                <p class=""><i class="fas fa-cog"></i> Rural Marked Expansion</p>
                            </div>
                            <div class="float-right">
                                <a href="#" class="font-weight-bold">{% translate 'View' %}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card" style="height: 50px;">
                    <div class="card-body">
                        <div class="clearfix">
                            <div class="float-left">
                                <p class=""><i class="fas fa-cog"></i> School Rehabilitation</p>
                            </div>
                            <div class="float-right">
                                <a href="#" class="font-weight-bold">{% translate 'View' %}</a>
                            </div>
                        </div>
                    </div>
                </div> {% endcomment %}

            </div>
        </div>
    </div>
</div>

<div style="height: 15px;"></div>

<div class="row">
    <div class="col-4">
        <h4 class="font-weight-bold d-flex justify-content-center" style="margin-bottom: 25px;">{% translate 'Village Mapping' %}</h4>
        <div class="card">
            <div class="card-body" style="height: 300px;">

            </div>
        </div>
    </div>
    <div class="col-4">
        <h4 class="font-weight-bold d-flex justify-content-center" style="margin-bottom: 25px;">{% translate 'Village Priorities' %}
            {% if user.is_superuser or user|has_group:"Admin" %}
            &nbsp; <a href="{% url 'administrativelevels:priorities_priorities' object.id %}" class="font-weight-bold"> <i
                class="fas fa-plus"></i></a>
            {% else %}
            &nbsp; <a href="{% url 'administrativelevels:priorities_priorities' object.id %}" class="font-weight-bold"> <i
                class="fas fa-list"></i></a>
            {% endif %}
        </h4>
        <div class="card">
            {% if object.get_list_priorities %}
            <div class="card-body">
                {% for priority in object.get_list_priorities|slice:":5" %}<!-- limit to 5 -->
                <div class="card">
                    <div class="card-body">
                        <div class="clearfix">
                            <div class="float-left">
                                {% if priority.component %}
                                    {% with priority.name|add:" ("|add:priority.component.name|add:")" as namepriority_with_component %}
                                    <p class="" title="{{ namepriority_with_component }}">
                                        <i class="fas fa-project-diagram"></i> &nbsp; 
                                        {% if namepriority_with_component|length > 30 %}
                                            {{ namepriority_with_component|slice:":30" }}...
                                        {% else %}
                                            {{ namepriority_with_component }}
                                        {% endif %}
                                    </p>
                                    {% endwith %}
                                {% else %}
                                <p class="" title="{{ priority.name }}">
                                    <i class="fas fa-project-diagram"></i> &nbsp; 
                                    {% if priority.name|length > 30 %}
                                        {{ priority.name|slice:":30" }}...
                                    {% else %}
                                        {{ priority.name }}
                                    {% endif %}
                                </p>
                                {% endif %}
                            </div>
                            <div class="float-right">
                                <a href="#" class="font-weight-bold">{% translate 'View' %}</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% comment %} {% if object.get_list_priorities|length > 5 %} {% endcomment %}
            <div class="card-footer d-flex justify-content-center">
                {% with object.get_list_priorities as priorities %}
                    {% include "components/priorities_modal.html" %}
                {% endwith %}
            </div>
            {% comment %} {% endif %} {% endcomment %}
            {% else %}
            <div class="card-body">
                <div class="font-weight-bold d-flex justify-content-center text-danger" >
                    <p>{% translate 'Empty!' %}</p>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="col-4">
        <h4 class="font-weight-bold d-flex justify-content-center" style="margin-bottom: 25px;">{% translate 'Village Development Plan' %}</h4>
        <div class="card">
            <div class="card-body" style="height: 300px;">

            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block javascript %}
{{ block.super }}


<script src="{% static 'plugins/datepicker/datepicker.js' %}"></script>
<script src="{% static 'plugins/datepicker/datepicker.en.js' %}"></script>
<script src="{% static 'plugins/datepicker/datepicker.custom.js' %}"></script>

<script type="text/javascript">
    $(document).ready(function () {
        {% get_current_language as lang %}

        let phases = "{{ phases|safe }}".split("'").join("\"")
        phases = JSON.parse(phases)

        $("#v-pills-" + phases[0].id + "-tab").tab('show');
        $("#v-pills-" + phases[0].activities[0].id + "-tab").tab('show');

        $("a.phase-tab").click(function (e) {
            e.preventDefault();
            const self_id = $(this).attr("id").split('-')[2]
            for( let i=0; i < phases.length; i++){
                if(phases[i].id === self_id){
                    $("#v-pills-" + phases[i].id + "-tab").tab('show');
                    $("#v-pills-" + phases[i].activities[0].id + "-tab").tab('show');
                }
            }
        });

    });
</script>
{% endblock %}